<!-- <div class="headerimage">
    <img src="../../assets/header-home.jpg" alt="" width="2560">
</div> -->
<div fxFlex>
    <div class="toolbar" role="banner">
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
            <div fxLayout="row">
                <img width="150" alt="gaia naturelle" src="../../assets/logo.png" />
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="login_and_signup">Login & Sign Up</span>
                <span fxFlex="20px"></span>
                <i class="link-icon material-icons" style="color: white;">shopping_cart</i>
                <span class="mL fnt-sz10 item-count" data-role="cart-counter">0</span>
            </div>
        </div>
    </div>
    <router-outlet style="display: none"></router-outlet>
</div>