<div *ngIf="sharedService.cartCount !== 0" fxFlex style="padding: 0 15px;">
    <section class="mainContainer" fxFlex style="margin-bottom: 40px;">
        <div class="cartTitle" ngStyle.lt-md="text-align: center">Your Shopping Cart</div>
        <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex fxLayout="column">
                <div fxLayout="row" fxShow fxHide.lt-md style="margin-bottom: 15px;">
                    <div style="width: 340px;">You are buying</div>
                    <div style="width: 100px;">Qty</div>
                    <div style="width: 150px;">Price</div>
                    <div></div>
                </div>
                <div fxLayout="column" class="cart-items">
                    <div fxLayout="row" *ngFor="let prod of cart" ngStyle.lt-md="margin-bottom: 10px">
                        <div style="width: 90px; margin-bottom: 5px;" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center start">
                            <img class="thumbmails" style="border: none;" [alt]="prod?.name" [src]="prod.image_link">
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div style="width: 250px; margin-bottom: 5px;" fxLayoutAlign="start center">
                                <span [innerHtml]="prod?.name"></span>
                            </div>
                            <div style="width: 100px; margin-bottom: 5px;" fxLayoutAlign="start center">{{prod?.cartCount | number}}</div>
                            <div fxLayout="row">
                                <div style="width: 150px;" fxLayoutAlign="center start" fxLayout="column">
                                    <span>{{ (prod.mrp - prod.offer_price) * prod.cartCount | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span>
                                    <span
                                        style="text-decoration: line-through; color: #aaa;">{{ prod.offer_price * prod.cartCount | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span>
                                </div>
                                <div fxLayoutAlign="center center">
                                    <i (click)="sharedService.cartRemove(prod); cartCalculate();" class="material-icons cart-remove">delete</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span fxFlex="20px"></span>
            <div fxFlex="25%" fxLayout="column">
                <div fxFlex="row" fxLayoutAlign="space-between center">
                    <span>You Pay</span>
                    <span><b>{{ totalPay | currency : sharedService.currency : 'symbol' : '1.0-0' }}</b></span>
                </div>
                <div fxFlex="row" fxLayoutAlign="space-between center">
                    <span></span>
                    <span class="cartSumDisLab">MRP:
                        <span
                            style="text-decoration: line-through;">{{ mrp | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span>
                        |
                        <span style="color: red !important"> You save
                            {{ savedAmount | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span></span>
                </div>
                <span fxFlex="20px"></span>
                <button routerLink="cart" class="buy_now_btn btn-auto" mat-raised-button color="accent">PROCCED TO
                    CHECKOUT</button>
                <span fxFlex="20px"></span>
                <div class="cart-details">
                    <div style="margin: 10px 0;">CHECK OUT DETAILS</div>
                    <div class="invoiceAmounts" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>Total MRP</span>
                        <span>{{ mrp | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span>
                    </div>
                    <div class="invoiceAmounts" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>Saved Amount</span>
                        <span>-{{ savedAmount | currency : sharedService.currency : 'symbol' : '1.0-0' }}</span>
                    </div>
                    <div class="invoiceAmounts" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>Shipping </span>
                        <span>FREE</span>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="space-between center">
                    <span>Total</span>
                    <span><b>{{ totalPay | currency : sharedService.currency : 'symbol' : '1.0-0' }}</b></span>
                </div>
                <div style="font-size: 12px;">(inclusive of shipping, handling and taxes.)</div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="sharedService.cartCount === 0" fxFlex style="padding: 0 15px;">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <h2 class="empty-cart">NO PRODUCTS, NO RESULTS.</h2>
        <h3 class="empty-cart">YOU NEED TO ADD SOMYHING TO YOUR CART!</h3>
        <span fxFlex="20px"></span>
        <button routerLink="" class="buy_now_btn" style="width: 300px;" mat-raised-button color="accent">START
            SHOPPING NOW</button>
    </div>
</div>