<div fxFlex fxLayout="column">
    <div class="toolbar" role="banner">
        <div fxLayout="row" fxFlex>
            <div fxFlex="20%" fxFlex.lt-md="50%" fxLayout="row" fxLayoutAlign="start center">
                <i fxHide fxShow.lt-md class="link-icon material-icons"
                    (click)="hideMenu = !hideMenu; scrollToMenu();">menu</i>&nbsp;&nbsp;
                <img routerLink="" style="cursor: pointer;" width="150" alt="gaia naturelle" src="assets/logo.png" />
            </div>
            <div fxFlex="58%" fxHide fxShow.gt-sm fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start center">
                <span *ngFor="let menu of sharedService.menuLinks" class="menu-links">
                    <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="menu.link"
                        [innerHtml]="menu.name"></a>
                </span>
            </div>
            <div fxFlex.gt-md="22%" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <div *ngFor="let social of sharedService.socialLinks">
                    <a [href]="social.url" target="_blank">
                        <img [src]="social.image_link" width="34">
                    </a>
                </div>
            </div>
            <!-- <div fxFlex="22%" fxFlex.lt-md="50%" fxLayout="row" fxLayoutAlign="end center">
                <span [matMenuTriggerFor]="loginPane" class="login_and_signup" fxLayoutAlign="center center">
                    <i fxShow.lt-md fxHide class="material-icons">person</i>
                    <span fxHide fxShow.gt-sm>Login & Signup</span>
                </span>
                <span fxFlex="20px"></span>
                <span [matMenuTriggerFor]="cartPane" class="link-icon" fxLayoutAlign="center center">
                    <i class="material-icons" style="color: white;">shopping_cart</i>
                    <span fxHide fxShow.gt-sm>&nbsp;Cart</span>
                </span>
                <span class="mL fnt-sz10 item-count" data-role="cart-counter"
                    [innerText]="sharedService.cartCount"></span>
            </div> -->
            <!-- <mat-menu #loginPane="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <div fxLayout="column" style="width: 200px; height: 200px; padding: 10px;">
                        <button mat-raised-button color="primary">Login with Facebook</button>
                        <span fxFlex="10px"></span>
                        <button mat-raised-button color="accent">Login with Google</button>
                        <div style="text-align: center; font-weight: bold;">Work in progress</div>
                    </div>
                </ng-template>
            </mat-menu>
            <mat-menu #cartPane="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <div fxLayout="column" style="width: 200px;">
                        <div style="text-align: center;"><b>Cart Summary</b></div>
                        <div style="text-align: center; margin-top: 10px;">{{sharedService.cartCount | number}} items
                        </div>
                        <div fxFlex="20px"></div>
                        <div fxLayoutAlign="center center">
                            <button routerLink="cart" class="buy_now_btn" mat-raised-button color="accent">PROCCED TO CART</button>
                        </div>
                    </div>
                </ng-template>
            </mat-menu> -->
        </div>
    </div>
    <mat-list fxHide fxShow.lt-md role="list" [class.hide-menu]="hideMenu" class="mobile-menu">
        <mat-list-item (click)="hideMenu = !hideMenu" [routerLink]="menu.link" role="listitem"
            *ngFor="let menu of sharedService.menuLinks" class="menu-links">
            <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="menu.link"
                [innerHtml]="menu.name"></a>
        </mat-list-item>
    </mat-list>
    <div fxFlex>
        <router-outlet style="display: none"></router-outlet>
    </div>
    <div class="black-bg">
        <div fxLayout="row" fxLayout.lt-md="column" class="footer-block">
            <div fxLayout="column">
                <div *ngFor="let menu of sharedService.menuLinks"
                    style="margin-bottom: 10px; text-transform: uppercase;">
                    <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="menu.link"
                        [innerHtml]="menu.name"></a>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <h3 fxLayoutAlign="start center" style="margin: 0;">CONNECT WITH US</h3>
                    <span fxFlex="20px"></span>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                        <div *ngFor="let social of sharedService.socialLinks">
                            <a [href]="social.url" target="_blank">
                                <img [src]="social.image_link" width="34">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <span fxFlex="30px"></span>
            <div fxLayout="column">
                <h3 style="margin: 0;">CONTACT US</h3>
                <span fxFlex="20px"></span>
                <div class="colr-gold" fxLayoutAlign="start center"><i class="material-icons">phone</i>&nbsp; 040 812 133</div>
                <span fxFlex="3px"></span>
                <a class="colr-gold" href="mailto:info@gaianaturelle.com">info@gaianaturelle.com</a>
            </div>
        </div>
    </div>
    <div style="font-size: 12px; background-color: #d1d3d4;">
        <div class="footer-block page-container" style="padding-top: 0; padding-bottom: 0;">
            <div class="disclaimer" style="text-align: center; color: #616262 !important;">
                <p> 
                    <strong>Disclaimer</strong>:All Gaia Nuterella products are manufactured at FSSAI approved
                    manufacturing facilities and are not intended to diagnose, treat, cure, or prevent any disease.
                    Please read product packaging carefully prior to purchase and use.The information/articles on
                    Gaia Nuterella (www.GaiaNuterella.com or subdomains) is provided for informational purpose only
                    and
                    is
                    not meant to substitute for the advice provided by your doctor or other healthcare professional.
                    These statements are not ratified by any government agency and are for general guidance only.
                </p>
                <p><strong>Important Notice</strong>:This is to bring to your notice that we are in the process of
                    changing our MRPs for select Whey Products. Given, we are present in multiple channels, you
                    might
                    find products with higher MRPs as well, especially in offline channels. However, keeping
                    consumer
                    interest in mind we have decided to pass on the benefit of revised MRPs with immediate effect.
                </p>
                <p>Copyright 2019 gaianuterella.com</p>
            </div>
        </div>
    </div>
</div>