// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beauty-feed-primary: mat-palette($mat-indigo);
$beauty-feed-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$beauty-feed-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$beauty-feed-theme: mat-light-theme($beauty-feed-primary, $beauty-feed-accent, $beauty-feed-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($beauty-feed-theme);

$color-primary: #a78949;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

header,
footer,
nav,
article,
aside {
    padding: 0;
    margin: 0;
}

.hideLoader {
    display: none !important;
}

html,
body,
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

header,
footer {
    height: 35px;
}

footer {
    color: white;
}

.vbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical; //box-orient: vertical;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal; //box-orient: horizontal;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: white;
}

/* Region End: Layout Template CSS*/

.main {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1; //box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    background-color: white;
}

article {
    /* previous syntax */
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -ms-box-flex: 5; //box-flex: 5;
    /* current syntax */
    -webkit-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5;
    overflow: auto;
}

aside,
nav {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1; //box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

body .headerimage {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

body .headerimage img {
    margin: auto;
    margin-left: 50%;
    max-width: 180%;
    transform: translateX(-50%);
}

.toolbar {
    padding: 10px 20px;
    color: white;
}

.link-icon,
.login_and_signup {
    cursor: pointer;
}