// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beauty-feed-primary: mat-palette($mat-indigo);
$beauty-feed-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$beauty-feed-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$beauty-feed-theme: mat-light-theme($beauty-feed-primary, $beauty-feed-accent, $beauty-feed-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($beauty-feed-theme);

$color-primary: #a78949;
$color-secondary: #dfc06e;
$color-three: #233242;
$color-four: gold;

* {
    outline: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header,
footer,
nav,
article,
aside {
    padding: 0;
    margin: 0;
}

.hideLoader {
    display: none !important;
}

html,
body,
.viewport {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

header,
footer {
    height: 35px;
}

footer {
    color: white;
}

.vbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical; //box-orient: vertical;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal; //box-orient: horizontal;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: white;
}

/* Region End: Layout Template CSS*/

.main {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1; //box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    background-color: white;
}

article {
    /* previous syntax */
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -ms-box-flex: 5; //box-flex: 5;
    /* current syntax */
    -webkit-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5;
    overflow: auto;
}

aside,
nav {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1; //box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

body .headerimage {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

body .headerimage img {
    margin: auto;
    margin-left: 50%;
    max-width: 180%;
    transform: translateX(-50%);
}

.toolbar {
    padding: 10px 14px;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    min-height: 51px;
    max-height: 51px;
}

.link-icon,
.login_and_signup {
    cursor: pointer;
}

.link-icon:hover,
.login_and_signup:hover {
    // background: -webkit-linear-gradient(#e3c370, #66542f) !important;
    background: linear-gradient(to bottom, $color-secondary 50%, $color-primary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.margin_on_top {
    margin-top: 51px !important;
}

/* Slider Style Start */
.slider {
    min-height: 580px;
    cursor: pointer;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed;
}

.slider .slider-nav-arrow {
    width: 60px;
    height: 90px;
    background-color: black;
    opacity: .6;
    cursor: pointer;
}

.slider .slider-nav-arrow>i {
    color: $color-four;
}

.pagination {
    padding: 10px 0;
}

.pagination>.page-index-circle {
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border: 2px solid $color-four;
    border-radius: 50%;
    cursor: pointer;
}

.pagination>.page-index-fill {
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border: 2px solid $color-four;
    background-color: $color-four;
    border-radius: 50%;
}

/* Slider Style End */

// HOME COMPONENT
#mb-categories {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    font-family: Montserrat;
}

.page-container {
    // max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.center-align {
    text-align: center;
}

#mb-categories .category-head {
    clear: both;
    float: left;
    width: 100%;
    text-align: left;
}

.featured-category {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 50px;
}

#mb-categories .category-head h1,
#mb-categories .category-head h2,
#mb-news h2 {
    font-family: Montserrat;
    border-bottom: 3px solid $color-secondary;
    width: auto;
    display: inline-block;
    padding-bottom: 10px;
}

#mb-categories .inner-gain,
#mb-categories .inner-protein {
    margin-bottom: 20px;
    // border: 1px solid #ddd;
    padding: 5px 14px;
    margin: 5px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

#mb-categories .inner-protein:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

a,
button,
input,
a:hover,
button:hover,
input:hover,
a:focus,
button:focus,
input:focus,
a:active,
button:active,
input:active {
    outline: none !important;
    text-shadow: none !important;
}

a {
    text-decoration: none;
    outline: 0;
}

img {
    vertical-align: middle;
}

hr,
img {
    border: 0;
}

#mb-categories .blog-name {
    color: #000;
    min-height: 20px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
}

#mb-categories .product-name {
    color: #000;
    min-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.buy_now_btn {
    background-color: $color-four !important;
    width: 150px;
}

.add_to_cart_btn {
    background-color: $color-three !important;
    width: 150px;
}

#mb-footer {
    float: left;
    width: 100%;
    background: #d1d3d4;
}

footer {
    display: block;
}

#mb-footer .footer-top {
    float: left;
    padding: 30px 0;
    width: 100%;
    background: url('https://img3.hkrtcdn.com/dist-mb/src/main/webapp/assets/images/mbUpdate/footer-bg.jpg') no-repeat;
    background-size: auto;
    background-size: cover;
    color: white;
}

.mb-footer-left {
    float: left;
    width: 100%;
}

#mb-footer .footer-top .mb-footerlinks {
    text-align: left;
    float: left;
    width: 50%;
}

#mb-footer .footer-top .mb-address {
    float: left;
    width: 50%;
}

#mb-footer .footer-top .mb-address address a {
    color:
        #d1d3d4;
}

#mb-footer .footer-top .mb-sociallinks {
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 40px;
}

#mb-footer .footer-top .mb-sociallinks .social-links li a.facebook:hover {
    background-position: -3px -1px;
}

#mb-footer .footer-top .mb-sociallinks .social-links li a.facebook {
    background-position: -3px -37px;
}

#mb-footer .footer-top .mb-sociallinks .social-links li a {
    float: left;
    width: 34px;
    height: 34px;
    background: url('https://img3.hkrtcdn.com/dist-mb/src/main/webapp/assets/images/mbUpdate/social.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
}

#mb-footer .footer-top .mb-sociallinks .social-links,
#mb-footer .footer-top .mb-sociallinks h3 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#mb-footer .footer-top .mb-sociallinks .social-links li {
    float: left;
    margin-left: 10px;
}

#mb-footer .footer-top .mb-sociallinks h3 {
    color:
        #fff;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 16px;
}

#mb-footer .footer-top .mb-sociallinks .social-links,
#mb-footer .footer-top .mb-sociallinks h3 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#mb-footer .footer-top .mb-sociallinks .social-links,
#mb-footer .footer-top .mb-sociallinks h3 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

#mb-footer .footer-top .mb-footerlinks ul {
    list-style-type: none;
}

#mb-footer .footer-top .mb-footerlinks ul li {
    float: left;
    padding: 0 30px 0 0;
    position: relative;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
}

#mb-footer .footer-top .mb-footerlinks ul li {
    text-align: left;
}

#mb-footer .footer-top .mb-footerlinks ul li a {
    display: inline-block;
    font-size: 16px;
    color:
        #d1d3d4;
    text-transform: uppercase;
    font-family: Montserrat;
    margin-bottom: 10px;
}

#mb-footer .footer-bottom {
    text-align: center;
    color: #616262 !important;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

#mb-footer .footer-bottom {
    float: left;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: #616262 !important;
    background-color: #d1d3d4;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

@media only screen and (max-width: 1000px) {
    .item-count {
        right: 9px !important;
    }
}

.item-count {
    position: absolute;
    top: 5px;
    right: 47px;
    transform: translatex(-50%);
    font-size: 10px !important;
    background-color: $color-four;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: #000 !important;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.cart-pop-label1 .item-count:hover,
.cart-pop-label1 .item-count:focus {
    color:
        #000;
}

.mL {
    margin-left: 10px !important;
}

//
#mb-ourstory {
    width: 100%;
    float: left;
    padding: 60px 0;
}

#mb-ourstory h3 {
    font-size: 24px;
    margin-top: 0;
}

#mb-ourstory .story-box.raw-material {
    margin-top: 40px;
    margin-bottom: 40px;
}

#mb-ourstory .story-box {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

#mb-ourstory .story-box .img-box {
    width: 19%;
    float: left;
}

.img-box {
    display: table-cell;
}

.img-box,
.img-box1 {
    overflow: hidden;
    width: inherit;
    text-align: center;
    vertical-align: middle;
}

#mb-ourstory .story-box a {
    width: 70%;
    float: right;
    padding: 15px 20px;
    background: #eee;
    border: 5px solid #eee;
}

#mb-ourstory .story-box a:hover {
    border-color: #d1d3d4;
    text-decoration: none;
    color: #000;
}

#mb-ourstory .story-box a {
    width: 70%;
    float: right;
    padding: 15px 20px;
    background: #eee;
    border: 5px solid #eee;
}

a,
button,
input,
a:hover,
button:hover,
input:hover,
a:focus,
button:focus,
input:focus,
a:active,
button:active,
input:active {
    outline: none !important;
    text-shadow: none !important;
}

a {
    color: black;
}

.menu-links {
    cursor: pointer;
}

.menu-links>a:not(.active-link) {
    color: white !important;
}

.menu-links>a:hover {
    color: gold !important;
}

.active-link {
    color: gold !important;
}

.price-tag {
    font-weight: bold;
}

.price-tag>.price {
    color: $color-primary;
}

.price-tag>.offer {
    color: #ddd;
}

.offer-tag {
    position: absolute;
    transform: translate(-9px, 0px);
    background-color: $color-secondary;
    padding: 5px;
    color: white;
}

.lazy {
    height: 300px;
}

.mobile-menu {
    margin-top: 51px;
}

.mobile-menu>mat-list-item {
    height: 35px !important;
    border-bottom: 1px solid #ddd;
}

.blog-section {
    background-color: #f5f5f5;
}

.main-block {
    height: 30px;
    position: relative;
}

.main-block .border-line {
    margin-top: 30px;
    height: 0;
    border-top: 1px solid #e0e0e0;
}

.main-block .nav-name {
    margin: 0;
    margin-left: 0px;
    text-align: center;
    position: absolute;
    width: 320px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 300;
    color: #757575;
    background: #f5f5f5;
    text-transform: Uppercase;
    left: 50%;
    margin-left: -160px;
    top: -15px;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

@media only screen and (max-width: 1000px) {
    .container {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.testmo {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.hide-menu {
    display: none !important;
}

.benefits-img-holder {
    height: 100px;
}

.benefits-inner-protein {
    width: 270px;
    margin-bottom: 20px;
    padding: 5px 14px;
    margin: 5px;
}

.benefit-name {
    color: #012755;
    font-weight: 500;
    text-align: center;
}

.benefit-description {
    text-align: center;
    display: flex;
}

.bg {
    background-image: url('assets/bg.jpg');
    background-size: contain;
}

.thumbmails {
    height: 64px;
    width: 64px;
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    object-fit: contain;
}

.product-name {
    color: #212121;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.product-offer-tag {
    background-color: $color-primary;
    color: white;
    padding: 3px;
}

.product-price {
    margin: 0;
    margin-top: 25px;
    height: 66px;
    line-height: 66px;
    border-top: 1px solid #e0e0e0;
    color: #ff6700;
    font-size: 30px;
}

.product-quantity {
    margin: 5px;
    display: inline-block;
    padding: 6px 10px;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    min-width: 36px;
    position: relative;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
}

.selected-quantity {
    border: 2px solid #2874f0;
    color: #2874f0;
    box-shadow: none;
}
.selected-image {
    border-color: $color-primary;
}

.preview-img {
    object-fit: contain;
    padding: 20px;
    overflow: hidden;
}

.out-of-stock {
    border-style: dotted;
}

.product-buttons {
    margin-top: 25px;
    border-top: 1px solid #e0e0e0;
}