<div class="slider" fxLayout="column" [style.background]="'url('+imageArray[pageIndex]+')'" (mouseenter)="clearTimer()"
    (mouseleave)="getSliderData()" (swipeleft)="increment()" (swiperight)="decrement()">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxHide fxShow.gt-sm fxLayoutAlign="center center" class="slider-nav-arrow" (click)="decrement()">
            <i class="material-icons">arrow_back_ios</i>
        </div>
        <div fxHide fxShow.gt-sm fxLayoutAlign="center center" class="slider-nav-arrow" (click)="increment()">
            <i class="material-icons">arrow_forward_ios</i>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="pagination">
        <div [class.page-index-circle]="pageIndex !== i" [class.page-index-fill]="pageIndex === i"
            *ngFor="let image of imageArray; let i = index;" (click)="pageIndex = i"></div>
    </div>
</div>
<section id="mb-categories">
    <!-- <div class="page-container center-align">
        <div class="category-head">
            <h2>FEATURE CATEGORIES</h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let prod of category" style="display: inline-block;">
                <div class="inner-protein">
                    <a [href]="prod.url">
                        <img class="lazy" [alt]="prod.name" style="display: inline;" [src]="prod.image_link">
                        <p class="product-name" [innerHtml]="prod.name"></p>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="page-container center-align bg" style="padding-bottom: 30px;">
        <div class="category-head">
            <h2>FEATURED PRODUCTS</h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let prod of sharedService.products" style="display: inline-block;">
                <div class="inner-protein">
                    <div class="offer-tag" *ngIf="prod.offer_price > 0">{{prod.offer_price/prod.mrp | percent}} OFF
                    </div>
                    <a [href]="prod.url">
                        <img class="lazy" [alt]="prod.name" style="display: inline;" [src]="prod.image_link">
                        <p class="product-name" [innerHtml]="prod.name"></p>
                        <div class="price-tag" fxLayoutGap="20px"><span
                                class="price">{{(prod.mrp - prod.offer_price) | currency: sharedService.currency : 'symbol' : '1.0-0'}}</span><del
                                class="offer"
                                *ngIf="prod.offer_price > 0">{{prod.mrp | currency: sharedService.currency : 'symbol' : '1.0-0'}}</del>
                        </div>
                    </a>
                    <div fxLayout="row" fxLayoutAlign="center" style="margin: 10px 0;">
                        <button (click)="sharedService.cartAdd(prod)" class="add_to_cart_btn" mat-raised-button
                            color="primary">
                            <i class="material-icons">shopping_cart</i>&nbsp;
                            ADD TO CART
                        </button>
                        <span fxFlex="20px"></span>
                        <button (click)="sharedService.cartAdd(prod)" routerLink="/cart" class="buy_now_btn"
                            mat-raised-button color="accent">
                            <i class="material-icons">credit_card</i>&nbsp;
                            BUY NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container center-align" style="padding-top: 30px;">
        <div style="display: inline;">
            <div *ngFor="let benefits of sharedService.priorities" style="display: inline-block;">
                <div class="benefits-inner-protein">
                    <div class="benefits-img-holder">
                        <img [style.height.px]="benefits.height" [alt]="benefits.image_url" style="display: inline;"
                            [src]="benefits.image_url">
                    </div>
                    <p class="benefit-description" [innerHtml]="benefits.description"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container center-align">
        <div class="category-head">
            <h2>Benefits of Collagen Shot Premium</h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let benefits of sharedService.collegenshotbenefits" style="display: inline-block;">
                <div class="benefits-inner-protein">
                    <div class="benefits-img-holder">
                        <img [style.height.px]="benefits.height" [alt]="benefits.image_url" style="display: inline;"
                            [src]="benefits.image_url">
                    </div>
                    <h2 class="benefit-name" [innerHtml]="benefits.title"></h2>
                    <p class="benefit-description" [innerHtml]="benefits.description"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="page-container mb-authenticity">
        <div>
            <h2>WHY COLLAGEN?</h2>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column">
            <ul class="why-collagen">
                <li>Collagen is the glue that holds your entire body together.</li>
                <li>Collagen is a protein that forms connective tissue throughout your body, from your bones to your
                    skin.
                </li>
                <li>Your body naturally produces collagen. But over time, that production slows down.</li>
                <li>Collagen is the most abundant protein in the skin. It makes up 75 to 80 percent of your skin.</li>
                <li>Collagen supplements are an easy way to add more collagen to your diet.</li>
                <li>Hydrolyzed collagen is broken down into smaller parts so it can be easily absorbed and used by your
                    body.</li>
                <li>
                    <span>Collagen has been shown to :- </span>
                    <ul>
                        <li>Reduce wrinkles</li>
                        <li>Keep joints strong and flexible</li>
                        <li>Support strong bones</li>
                        <li>Increase skin hydration</li>
                    </ul>
                </li>
            </ul>
            <div fxFlex fxLayoutAlign="center center">
                <img src="assets/kolagen-shot.png">
            </div>
        </div>
    </div>
    <div class="page-container mb-authenticity" style="padding-left: 30px; padding-right: 30px;">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center top">
            <div fxFlex="30%" fxFlex.lt-md="100%">
                <h2>PROBLEM</h2>
                <ul class="prob-slov">
                    <li>Post Pregnancy</li>
                    <li>Vitamin Deficiency</li>
                    <li>Diet</li>
                    <li>Age<small><i>(After 25 our bodies naturally produce less collagen)</i></small></li>
                    <li>Stress</li>
                    <li>Fatigue</li>
                    <li>Joint Pain</li>
                </ul>
            </div>
            <div fxFlex="30%" fxFlex.lt-md="100%">
                <h2>SOLUTION</h2>
                <ul class="prob-slov">
                    <li>IMPROVE SKIN HEALTH</li>
                    <li>YOUNGER APPEARANCE</li>
                    <li>STRENGTHENING SKIN</li>
                    <li>ELASTICITY</li>
                    <li>HYDRATION</li>
                    <li>Decrease joint pain</li>
                    <li>Increase flexibility</li>
                </ul>
            </div>
        </div>
        <div fxLayoutAlign="center top">
            <div fxFlex="60%" fxLayout="row" fxFlex.lt-md="100%">
                <i class="material-icons">check</i>
                <span>GAIA NATURELLE is the only product only product that contains COLLAGEN + MSM (Highest percentage
                    on the
                    market)</span>
            </div>
        </div>
    </div> -->
</section>
<section style="background-color: #f5f5f5;" (swipeleft)="increseTestmoPagination()"
    (swiperight)="decreaseTestmoPagination()" (mouseenter)="testmoClearTimer()" (mouseleave)="testmoInterval()">
    <div class="container main-block">
        <div class="border-line"></div>
        <h2 class="nav-name">TESTIMONIALS</h2>
    </div>
    <div class="container" style="margin-bottom: 10px;" *ngFor="let testmo of textmoDisplayArray">
        <div class="testmo">
            <div style="color: gold;">
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 1">star</i>
                <i class="material-icons" *ngIf="1 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 2">star</i>
                <i class="material-icons" *ngIf="2 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 3">star</i>
                <i class="material-icons" *ngIf="3 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 4">star</i>
                <i class="material-icons" *ngIf="4 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 5">star</i>
                <i class="material-icons" *ngIf="5 > TESTIMONIALS[testmo].rating">star_border</i>
            </div>
            <div style="margin-bottom: 10px;" [innerHtml]="TESTIMONIALS[testmo].description"></div>
            <b>-<span [innerHtml]="TESTIMONIALS[testmo].name"></span></b>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="pagination">
        <div [class.page-index-circle]="testmoPageSelected !== pagination"
            [class.page-index-fill]="testmoPageSelected === pagination"
            *ngFor="let pagination of testmoPaginationArray; let i = index;"
            (click)="testmoPageSelected = pagination; testmoPagination()"></div>
    </div>
</section>
<section id="mb-categories" style="background-color: #f5f5f5;">
    <div class="container main-block">
        <div class="border-line"></div>
        <h2 class="nav-name">BLOG</h2>
    </div>
    <div class="page-container center-align" fxLayout="row" fxLayout.lt-md="column">
        <mat-card *ngFor="let blog of blogs" style="width: 300px; margin: 10px;">
            <img mat-card-image [src]="blog.image_link" [alt]="blog.name">
            <mat-card-content>
                <p>{{blog.name}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>