<div class="slider" fxLayout="column" [style.background]="'url('+imageArray[pageIndex]+')'" (mouseenter)="clearTimer()"
    (mouseleave)="getSliderData()">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxHide fxShow.gt-sm fxLayoutAlign="center center" class="slider-nav-arrow" (click)="decrement()">
            <i class="material-icons">arrow_back_ios</i>
        </div>
        <div fxHide fxShow.gt-sm fxLayoutAlign="center center" class="slider-nav-arrow" (click)="increment()">
            <i class="material-icons">arrow_forward_ios</i>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="pagination">
        <div [class.page-index-circle]="pageIndex !== i" [class.page-index-fill]="pageIndex === i"
            *ngFor="let image of imageArray; let i = index;" (click)="pageIndex = i"></div>
    </div>
</div>
<section id="mb-categories">
    <!-- <div class="page-container center-align">
        <div class="category-head">
            <h2>FEATURE CATEGORIES</h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let prod of category" style="display: inline-block;">
                <div class="inner-protein">
                    <a [href]="prod.url">
                        <img class="lazy" [alt]="prod.name" style="display: inline;" [src]="prod.image_link">
                        <p class="product-name" [innerHtml]="prod.name"></p>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="page-container center-align">
        <div class="category-head">
            <h2>FEATURED PRODUCTS</h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let prod of products" style="display: inline-block;">
                <div class="inner-protein">
                    <div class="offer-tag" *ngIf="prod.offer_price > 0">{{prod.offer_price/prod.mrp | percent}} OFF
                    </div>
                    <a [href]="prod.url">
                        <img class="lazy" [alt]="prod.name" style="display: inline;" [src]="prod.image_link">
                        <p class="product-name" [innerHtml]="prod.name"></p>
                        <div class="price-tag" fxLayoutGap="20px"><span
                                class="price">{{(prod.mrp - prod.offer_price) | currency: prod.currency : 'symbol' : '1.0-0'}}</span><del
                                class="offer"
                                *ngIf="prod.offer_price > 0">{{prod.mrp | currency:prod.currency : 'symbol' : '1.0-0'}}</del>
                        </div>
                    </a>
                    <div fxLayout="row" fxLayoutAlign="center" style="margin: 10px 0;">
                        <button class="add_to_cart_btn" mat-raised-button color="primary">
                            <i class="material-icons">shopping_cart</i>&nbsp;
                            ADD TO CART
                        </button>
                        <span fxFlex="20px"></span>
                        <button class="buy_now_btn" mat-raised-button color="accent">
                            <i class="material-icons">credit_card</i>&nbsp;
                            BUY NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container center-align">
        <div class="container main-block">
            <div class="border-line"></div>
            <h2 class="nav-name" style="width: 390px; text-transform: none; background-color: white;">Benefits of
                Collagen shot </h2>
        </div>
        <div style="display: inline;">
            <div *ngFor="let benefits of sharedService.collegenshotbenefits" style="display: inline-block;">
                <div class="benefits-inner-protein">
                    <div class="benefits-img-holder">
                        <img [style.height.px]="benefits.height" [alt]="benefits.image_url" style="display: inline;"
                            [src]="benefits.image_url">
                    </div>
                    <h2 class="benefit-name" [innerHtml]="benefits.title"></h2>
                    <p class="benefit-description" [innerHtml]="benefits.description"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #f5f5f5;" (mouseenter)="testmoClearTimer()" (mouseleave)="testmoInterval()">
    <div class="container main-block">
        <div class="border-line"></div>
        <h2 class="nav-name">TESTIMONIALS</h2>
    </div>
    <div class="container" style="margin-bottom: 10px;" *ngFor="let testmo of textmoDisplayArray">
        <div class="testmo">
            <div style="color: gold;">
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 1">star</i>
                <i class="material-icons" *ngIf="1 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 2">star</i>
                <i class="material-icons" *ngIf="2 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 3">star</i>
                <i class="material-icons" *ngIf="3 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 4">star</i>
                <i class="material-icons" *ngIf="4 > TESTIMONIALS[testmo].rating">star_border</i>
                <i class="material-icons" *ngIf="TESTIMONIALS[testmo].rating >= 5">star</i>
                <i class="material-icons" *ngIf="5 > TESTIMONIALS[testmo].rating">star_border</i>
            </div>
            <div style="margin-bottom: 10px;" [innerHtml]="TESTIMONIALS[testmo].description"></div>
            <b>-<span [innerHtml]="TESTIMONIALS[testmo].name"></span></b>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="pagination">
        <div [class.page-index-circle]="testmoPageSelected !== pagination"
            [class.page-index-fill]="testmoPageSelected === pagination"
            *ngFor="let pagination of testmoPaginationArray; let i = index;"
            (click)="testmoPageSelected = pagination; testmoPagination()"></div>
    </div>
</section>
<section id="mb-categories" style="background-color: #f5f5f5;">
    <div class="container main-block">
        <div class="border-line"></div>
        <h2 class="nav-name">BLOG</h2>
    </div>
    <div class="page-container center-align">
        <!-- <div style="display: inline;">
            <div *ngFor="let prod of category" style="display: inline-block;">
                <div class="inner-protein">
                    <a [href]="prod.url">
                        <img class="lazy" [alt]="prod.name" style="display: inline;" [src]="prod.image_link">
                        <p class="product-name" [innerHtml]="prod.name"></p>
                    </a>
                </div>
            </div>
        </div> -->
        <b>Work in progress</b>
    </div>
</section>